[submodule "OneDrive/Documents/Github/OneDrive/Documents/Github/web3js-example-react-app"]
	path = OneDrive/Documents/Github/OneDrive/Documents/Github/web3js-example-react-app
	url = https://github.com/ChainSafe/web3js-example-react-app.git
